# O output desse processamento deve ser um arquivo com schema pronto e juntando todos os arquivos feitos no passo 1

##1. Importando as bibliotecas

In [2]:
import subprocess
import pandas as pd

##2. Extraindo os arquivos gerados no passo 1

In [3]:
subprocess.run(['unrar','x','/content/drive/MyDrive/bottles.rar'])

CompletedProcess(args=['unrar', 'x', '/content/drive/MyDrive/bottles.rar'], returncode=0)

##3. Criando pastas de apoio

In [8]:
subprocess.run(['mkdir','/content/Passo1'])
subprocess.run(['mkdir','/content/Passo2'])

CompletedProcess(args=['mkdir', '/content/Passo4'], returncode=0)

##4. Criando uma lista com o nome dos arquivos

In [9]:
files = subprocess.getoutput(['ls','/content/'])
files = files.split()
files.remove('Passo1')
files.remove('Passo2')
files.remove('sample_data')
files.remove('drive')

##5. Transformando os dados numéricos

In [6]:
for fi in files:
  fin = open(fi, "rt")
  fout = open('/content/Passo1/'+fi, "wt")
  for line in fin:
	    fout.write(line.replace(',', '.'))
fin.close()
fout.close()

In [7]:
for fi in files:
  fin = open('/content/Passo1/'+fi, "rt")
  fout = open('/content/Passo2/'+fi, "wt")
  for line in fin:
	    fout.write(line.replace(';', ','))
fin.close()
fout.close()

##6. Cria novos arquivos preparados como variaveis, retirando valores nulos ou errados de datas que vieram ruins e salvando direto no drive

In [126]:
for fi in files:  
  df = pd.read_csv('/content/Passo2/'+fi,parse_dates=[2])
  df['Data'] = pd.to_datetime(df['DATE (yyyy-mm-ddThh:mi:ssZ)'],errors='coerce')
  df.dropna(inplace=True)
  df.drop_duplicates(inplace=True)
  df['ANO'] = df['Data'].dt.year
  df['MES'] = df['Data'].dt.month
  df['DIA'] = df['Data'].dt.day
  df['LATITUDE'] = df['LATITUDE (degree_north)']
  df['LONGITUDE'] = df['LONGITUDE (degree_east)']
  df['SALINIDADE'] = df['PSAL LEVEL1 (psu)']
  df['TIPO'] = 'BOTTLES'
  dx=df[['TIPO','ANO','MES','DIA','LATITUDE','LONGITUDE','SALINIDADE']]
  dx.to_csv('/content/drive/MyDrive/dados_bottles.csv')

In [132]:
df = pd.read_csv('/content/drive/MyDrive/dados_bottles.csv')
df

         Unnamed: 0     TIPO   ANO  MES  DIA  LATITUDE  LONGITUDE  SALINIDADE
0               191  BOTTLES  2008    8   19   14.9527   -76.8475      36.492
1               192  BOTTLES  2008    8   19   14.9775   -76.8336      36.137
2               193  BOTTLES  2008    8   19   15.0022   -76.8200      36.145
3               194  BOTTLES  2008    8   19   15.0270   -76.8062      36.071
4               195  BOTTLES  2008    8   19   15.0517   -76.7923      36.158
...             ...      ...   ...  ...  ...       ...        ...         ...
1343295     1668657  BOTTLES  2004    8    6   39.8800   -11.1900      36.039
1343296     1668658  BOTTLES  2004    8    6   39.9000   -11.1800      36.014
1343297     1668659  BOTTLES  2004    8    6   39.9300   -11.1700      36.006
1343298     1668660  BOTTLES  2004    8    6   39.9600   -11.1600      35.987
1343299     1668661  BOTTLES  2004    8    6   39.9800   -11.1500      35.972

[1343300 rows x 8 columns]